{% extends 'blog/base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Edit Post</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    </form>

    <br>
    {% comment %} <a href="{% url 'post_detail' post.pk %}" class="btn btn-secondary mt-3">Back to Post</a> {% endcomment %}
    <a href="{% url 'post_list' %}" class="btn btn-secondary">Back to All Posts</a>

</div>
{% endblock %}
